.story{
    grid-column: 1/-1;
    background-color: rgb(236, 236, 236);
    margin-top: 10px;
    padding: 20px;
}
.story-image{
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit , minmax(170px,1fr));
    grid-template-rows: 1fr;
    padding: 10px;
}
.image:hover{
    filter: drop-shadow( 0 5px 5px  gray);
    cursor: pointer;
}

.image-1{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    grid-column: 2/ 3;
    grid-row: 1/2;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.free{
    color: rgb(237, 199, 128);
    font-weight: bold;
}

.order-text{
    margin-top: 50px;
}

.order-price{
        margin-bottom: 30px;
        font-weight: bold;
}

.left {
    background-color: rgb(107, 107, 107);
    color: orange;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 2fr 1fr repeat(3, 0.5fr) 2fr;
    font-size: 30px;
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
    grid-gap: 10px;
    height: 300px;
    margin-top: 120px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.btn{
    padding: 20px 50px;
    border-radius: 5px;
    border: 1px solid rgb(230, 143, 29);
    background-color:  rgb(230, 143, 29);
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.6s;
    justify-self:center;
}

.btn:hover{
    background-color: white;
    color: rgb(230, 143, 29);
}

@media screen and (max-width: 650px) {
    .left{
        grid-column: 2/ 3;
        margin-top: 50px;
    }
    .story{
        grid-template-columns: 15px repeat(4, 1fr) 15px;
    }
    .image-1{
        width: 100%;
        height: 250;
    }
    .btn{
        padding: 15px 25px;
    }
}